{% extends 'base.html' %}
{% block title %}Dashboard - E-Shop{% endblock %}
{% block content %}

<div class="container mt-4">
    <h2>Welcome, {{ user.first_name|default:user.email }}!</h2>

    <hr>

    <h4>📦 Recent Orders</h4>
    {% if orders %}
        <ul class="list-group mb-4">
            {% for order in orders %}
                <li class="list-group-item">
                    Order #{{ order.id }} -{{order.product }} - {{ order.created_at|date:"Y-m-d" }} - Quantity: {{ order.quantity }} - <strong>৳{{ order.total_price }}</strong> - Paid: {{ order.is_paid }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recent orders.</p>
    {% endif %}


<h4>Reviews</h4>
<ul>
    {% for review in reviews %}
        <li>{{ review.product.name }} - "{{ review.review_text }}"</li>
    {% empty %}
        <li>No reviews yet.</li>
    {% endfor %}
</ul>
</div>
{% endblock %}